$background: #212121;
$primary: #ee9b00;
$secondary: #ffffff;
$disabled: #6b6b6b;
$danger: #e63946;

@font-face {
  font-family: "RussoOne";
  src: url(../assets/RussoOne-Regular.ttf)
}

* {
  font-family: "RussoOne", system-ui, sans-serif;
}

body {
  width: 300px;
  //height: 400px;
  background: $background;
  color: $primary;
}

.offsets {
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  @extend .offsets;
  font-weight: normal;
}

a {
  color: $secondary;
}

p.danger {
  @extend .offsets;
  padding: 10px;
  font-size: 14px;
  border: 2px solid $danger;
  color: $danger;
}

.footer {
  @extend .offsets;
  display: flex;
  justify-content: space-between;
}

.form-group {
  @extend .offsets;
  position: relative;
  padding: 10px;
  border: 2px solid $primary;
  margin: 10px 10px 20px;

  label {
    position: absolute;
    top: -8px;
    left: 5px;
    padding-left: 5px;
    padding-right: 5px;

    color: $primary;
    background-color: $background;
  }

  input, p {
    width: calc(100% - 10px);
    margin: 0;
    padding: 1px 2px;
    height: 16px;
    border: none;
    background: none;
    color: $primary;
    font-weight: normal;
    font-size: 14px;

    &:focus-visible {
      border: none;
      outline: none;
    }
  }

  button {
    position: absolute;
    bottom: -10px;
    right: 5px;
    border: 2px solid $primary;
    border-radius: 0;
    background: $background;
    color: $primary;

    &:hover {
      color: $secondary;

      &.danger {
        color: $danger;
      }
    }

    &:active {
      background: $primary;
    }

    &:disabled {
      color: $disabled;
    }
  }
}