$background: #212121;
$primary: #ee9b00;
$secondary: #ffffff;
$disabled: #6b6b6b;
$danger: #e63946;

@font-face {
  font-family: "RussoOne";
  src: url(../assets/RussoOne-Regular.ttf)
}

* {
  font-family: "RussoOne", system-ui, sans-serif;
}

body {
  width: 300px;
  //height: 400px;
  background: $background;
  color: $primary;
}

.offsets {
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  @extend .offsets;
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 16px;
}

a {
  color: $secondary;
}

p {
  @extend .offsets;

  &.danger {
    padding: 10px;
    font-size: 14px;
    border: 2px solid $danger;
    color: $danger;
  }

  &.normal {
    padding: 10px;
    font-size: 14px;
    border: 2px solid $primary;
    color: $primary;
  }
}

button {
  border: 2px solid $primary;
  border-radius: 0;
  background: $background;
  color: $primary;

  &:hover {
    color: $secondary;
    .icon {background: $secondary;}

    &.danger {
      color: $danger;
    }
  }

  &:active {
    background: $primary;
  }

  &:disabled {
    color: $disabled;
    .icon {background: $disabled;}
  }

  &.big {
    font-size: 18px;
  }

  &.small {
    //font-size: 10px;
    height: 17px;
    width: 17px;
    padding: 2px;

    & > * {
      display: flex;
      justify-self: center;
      align-self: center;
    }
  }
}

.icon {
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 100%;
  height: 100%;

  @each $icon in copy, link {
    &.#{$icon} {
      -webkit-mask-image: url("../images/#{$icon}.svg");
      mask-image: url("../images/#{$icon}.svg");
      background: $primary;
    }
  }
}

.footer {
  @extend .offsets;
  display: flex;
  justify-content: space-between;
}

.form-group {
  @extend .offsets;
  position: relative;
  padding: 10px;
  border: 2px solid $primary;
  margin: 10px 10px 20px;

  & > label:first-of-type {
    position: absolute;
    top: -8px;
    left: 5px;
    padding-left: 5px;
    padding-right: 5px;

    color: $primary;
    background-color: $background;
  }

  & > input:not([type="checkbox"]), & > p {
    width: calc(100% - 10px);
    margin: 0;
    padding: 1px 2px;
    height: 16px;
    border: none;
    background: none;
    color: $primary;
    font-weight: normal;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:focus-visible {
      border: none;
      outline: none;
    }
  }

  & > label[role="checkbox"] {
    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    input + span {
      display: inline-flex;
      align-items: center;
      user-select: none;

      position: relative;
      top: 2px;

      &::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 2px solid $primary;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70% 70%;
      }
    }

    input:checked + span {
      &::before {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
      }
    }
  }

  & > ul {
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;

    li {
      padding-left: 10px;
    }

    li::marker {
      content: '■';
    }
  }

  & > button {
    position: absolute;
    bottom: -10px;
    right: 5px;
  }
}